.parallax-header {
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)
        ), url(images/paralax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.header-content{
    padding: 100px 0 150px 0;
}